.snk-header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 100;
    background-color: var(--color-white);
}

.snk-header__toggle-box {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    cursor: pointer;
}

.snk-header__logo-box {
    width: 17.5rem;
}

.snk-header__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease-in;
}

.snk-header__menu.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.snk-header__menu--menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: var(--color-white);
    height: 100%;
    padding-top: 10rem;
    padding-left: 3rem;
    transform: translateX(-100%);
    transition: all .5s ease .3s;
}

.snk-header__menu--menu-container.active {
    transform: translateX(0);
}

.snk-header__menu--close {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.snk-header__menu--link {
    display: block;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 2.5rem;
    color: var(--color-very-dark-blue);
    padding: 1rem 0;
}

.snk-header__cart-box {
    position: relative;
    margin-left: auto;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.cart-notification {
    position: absolute;
    top: -1rem;
    right: -.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snk-header__profile-box {
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .snk-header {
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        z-index: 100;
        padding: 0;
        background-color: var(--color-white);
        border-bottom: 1px solid var(--color-primary-gray);
    }

    .snk-header__toggle-box {
        display: none;
    }
    
    .snk-header__logo-box {
        width: 15.5rem;
        margin-left: 5rem;
    }
    
    .snk-header__menu {
        position: relative;
        margin-left: 5rem;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
    
    .snk-header__menu--close {
        display: none;
    }

    .snk-header__menu--menu-container {
        position: relative;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        background-color: transparent;
        height: auto;
        padding-top: 0;
        padding-left: 0;
        transform: translateX(0);
    }

    .snk-header__menu--link {
        padding: 4rem 2rem;
        font-size: 1.6rem;
        border-bottom: 4px solid transparent;
    }

    .snk-header__menu--link:hover {
        border-bottom-color: var(--color-primary);
    }
    
    .snk-header__cart-box {
        position: relative;
        margin-left: auto;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 4rem;
    }
    
    .cart-notification {
        top: -.5rem;
        right: -.5rem;
        width: 2rem;
        height: 1.5rem;
        font-size: 1rem;
        border-radius: 20px;
    }
    
    .snk-header__profile-box {
        width: 4.5rem;
        height: 4.5rem;
        cursor: pointer;
        margin-right: 10rem;
    }
}