.snk-main__product-details {
    padding: 2rem;
    position: relative;
}

.snk-main__product-details--heading {
    padding: 4rem 0;
}

.heading-title {
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 5rem;
    position: relative;
    color: var(--color-very-dark-blue);

}

.snk-main__product-details--heading::before {
    position: absolute;
    content: "Sneaker Company";
    top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-primary);
}

.snk-main__product-details-desc {
    margin-top: -1rem;
    font-size: 2rem;
    line-height: 3rem;
}

.snk-main__product-details--summary {
    margin-top: 2rem;
}

.price-summary{
    padding: 2rem 0 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.price-summary span,
.add-quantity span {
    display: block;
}

.price {
    font-size: 4rem;
    color: var(--color-very-dark-blue);
    font-weight: 700;
}

.discount {
    font-size: 3rem;
    margin-left: 4rem;
    padding: 1rem;
    font-weight: 700;
    background-color: var(--color-primary-gray);
    color: var(--color-primary);
}

.prev-price {
    font-size: 3rem;
    margin-left: auto;
    text-decoration: line-through;
}

.add-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--color-light-greyish-blue);
    color: var(--color-primary);
    font-size: 4rem;
    font-weight: 700;
}

.decrease {
 cursor: pointer;
}

.value {
    color: var(--color-very-dark-blue);
}

.increase {
    cursor: pointer;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 5px;
    width: 100%;
    margin: 3rem 0 10rem;
    box-shadow: -10px 10px 50px hsla(26, 100%, 55%, 10%);
}

.icon,
.desc {
    display: block;
    font-size: 2.5rem;
}

.icon {
    margin-right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
}

.icon path {
    fill: var(--color-white);
}

@media screen and (min-width: 1200px) {
    .snk-main__product-details {
        flex: 1 1 40%;
        padding: 10rem 5rem 5rem;
    }

    .snk-main__product-details--heading {
        padding: 3rem 0;
    }
    
    .heading-title {
        font-size: 3rem;
        line-height: 4rem;
    
    }
    
    .snk-main__product-details--heading::before {
        content: "Sneaker Company";
        top: 10rem;
        font-size: 1.6rem;
    }

    .snk-main__product-details-desc {
        width: 80%;
    }
    
    .price {
        font-size: 3rem;
    }
    
    .discount {
        padding: 1rem 1.5rem;
        border-radius: 10px;
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    
    .prev-price {
        width: 100%;
        font-size: 1.5rem;
        margin-left: unset;
    }

    .quantity-container {
        display: flex;
        align-items: center;
        width: 70%;
    }
    
    .add-quantity {
        flex: 0 1 15%;
        padding: 1rem;
        font-size: 2rem;
        margin-right: 1rem;
    }
    
    .add-to-cart {
        flex: 2 1 20%;
        padding: 1rem 0;
        width: 100%;
        margin: 0;
    }
    
    .icon,
    .desc {
        display: block;
        font-size: 1.5rem;
    }
    
    .icon {
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
    }
}