* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-primary: hsl(26, 100%, 55%);
    --color-primary-gray: hsl(25, 100%, 94%);
    --color-very-dark-blue: hsl(220, 13%, 13%);
    --color-dark-greyish-blue: hsl(219, 9%, 45%);
    --color-greyish-blue: hsl(220, 14%, 75%);
    --color-light-greyish-blue: hsl(223, 64%, 98%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-overlay: hsla(0, 0%, 0%, 40%);
    --color-overlay2: hsla(0, 0%, 0%, 20%);

    /* fonts */
    --mobile-font-base: 50%;
    --tablet-font-base: 62.5%;
    --desktop-font-base: 75%;
}

html {
    font-size: var(--mobile-font-base);
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100vh;
    color: var(--color-dark-greyish-blue);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

button,
button:focus{
    outline: none;
    border: none;
    cursor: pointer;
}

.snk-main {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-gray); 
  }

  .attribution {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
  }

@media screen and (min-width: 1200px) {
    html {
        font-size: var(--tablet-font-base);
    }

    .snk-main {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 11rem;
    }
}
